@model Diploma_Project.Web_app.ViewModels.Products.DetailsViewModel

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="@Url.Action("GetImage","Products",new { id = Model.Product.Id })" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">@Model.Product.Name</h1>
            <p class="lead">@Model.Product.ProductCategory.Name</p>
            <p class="lead">Цена: @Model.Product.Price руб.</p>
            <p class="lead">@Model.Product.Description</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    @if (Model.Product.TotalAmount < 1)
                    {
                        <button type="button" class="btn btn-outline-warning" disabled>Нет в наличии</button>
                    }
                    else if (Model?.ShopCartProducts?.FirstOrDefault(scp => scp.ProductId == Model.Product.Id) != null)
                    {
                        <button type="button" class="btn btn-outline-warning" disabled>В корзине</button>
                    }
                    else
                    {
                        <a type="button" class="btn btn-outline-warning" asp-controller="Products" asp-action="AddProductInShopCart" asp-route-id="@Model.Product.Id">В корзину</a>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
